<div class="piano checkbox">
  <div class="pull-right">
    <a href="<%= url %>" target="_blank" title="website"><i class="glyphicon glyphicon-link"></i></a>
    <a href="https://maps.google.com/maps?daddr=<%= position.latitude %>,<%= position.longitude %>" target="_blank" title="directions"><i class="glyphicon glyphicon-globe"></i></a>
  </div>
  <label<% if (isPlayed) %> class="text-muted"<% %>>
    <input type="checkbox" id="check<%= id %>" name="check<%= id %>" class="piano-cb" data-id="<%= id %>"<% if (isPlayed) %> checked<% %>>
    <%= title %>
  </label>
</div>
